<!DOCTYPE html><html lang="{{ site.lang | default: " ja" }}"><head>{% include head.html %}</head><body class="discord dark white-text">{% include noscript.html %}{{ content }}{% include footer.html %}{% include body.html %}</body></html>