<footer class="page-footer discord black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact (Be careful of spoofing!)</h5>
                <ul>
                    <li><p class="grey-text text-lighten-4">Twitter DM [@Neko7sora]</p></li>
                    <li><p class="grey-text text-lighten-4">Discord DM [id: 760437805553549322]</p></li>
                    <li><p class="grey-text text-lighten-4">Email [Listed in Github Profile]</p></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul class="collection" style="border: 1px solid #000000;">
                    <a class="collection-item grey-text text-lighten-3"style="background: #232b33; border-bottom: 1px solid #000000;"
                        href="https://neko7sora.page.link/resume"><i class="fas fa-cat text-white fa-lg"></i>　RESUME (Socials & Links)</a>
                    <a class="collection-item grey-text text-lighten-3"style="background: #15202B; border-bottom: 1px solid #000000;"
                        href="https://neko7sora.page.link/twitter"><i class="fab fa-twitter text-white fa-lg"></i>　Twitter (Main SNS)</a>
                    <a class="collection-item grey-text text-lighten-3"style="background: #161b22; border-bottom: 1px solid #000000;"
                        href="https://neko7sora.page.link/github"><i class="fab fa-github text-white fa-lg"></i>　GitHub (Software development platform)</a>
                </ul>
            </div>
        </div>
    </div>
<div class="footer-copyright"><div class="container">{% include copyright.html %}</div></div>
</footer>
