<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>{% if page.title %}{{page.title}} | {% endif %}{{ site.title }}</title>
{% include favicons.html %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{site.url}}/assets/css/all.css?v={{site.github.build_revision}}"/>
<script src="https://kit.fontawesome.com/34bd6863d8.js" crossorigin="anonymous"></script>
<meta name="keywords" content="Neko7sora,ねこなそら,Profile,プロフィール">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Neko7sora">
<link rel="canonical" href="{{site.url}}{{ page.url | replace:'index.html','' }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{page.title}} | {% endif %}{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{site.url}}{{ page.url | replace:'index.html','' }}">
<meta property="og:image" content="{{site.url}}/icon-400.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{site.url}}{{ page.url | replace:'index.html','' }}">
<meta name="twitter:image" content="{{site.url}}/icon-400.png">