---
---

@import url('https://unpkg.com/primer/build/build.css');
@import 'materialize/materialize';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
  }
  
  .repo-language-color {
      filter: brightness(125%) !important;
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 2px;
      width: 12px;
  }
  
  .emoji {
    width: 18px;
    height: auto;
    vertical-align: middle;
  }
  
  .article {
    h1, h2, h3, h4,
    .highlight {
      margin-bottom: 16px;
    }
  
    blockquote {
      color: #6a737d;
      border-left: 2px solid #959da5;
      padding-left: 16px;
      margin-bottom: 16px;
    }
  
    ul, ol {
      padding-left: 32px;
      margin-bottom: 16px;
    }
  
    li ul, li ol {
      padding-left: 16px;
      margin-bottom: 0px;
    }
  }
  
  .min-height-full {
    min-height: 100vh;
  }

//**discordcolor
.discord.blue {
background-color: #7289DA !important
}

.discord.white {
background-color: #FFFFFF !important
}

.discord.grey {
background-color: #99AAB5 !important
}

.discord.dark {
background-color: #2C2F33 !important
}

.discord.kuro {
background-color: #2C2F33 !important
}

.discord.black {
background-color: #000000 !important
}//**/

/** Minimal Scrollbar **/
/* WebKit and Blink */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(40,40,40,0.75);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(30,30,30,1);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
/* Spec Version (Gecko only at the time of this addition) */
*, body {
   scrollbar-width:thin;
   scrollbar-color:rgba(50,50,50,0.5) transparent;
}

body{
  // ビヨヨン効果を無効化する
  height: 100%;
  width: 100%;
  overflow: auto;
}
